#
# the technical configuration file of the application.
#

# esup-lecture configuration file for techinal environment

##### database #####
# JNDI|JDBC
# for JDBC datasource.bean=JDBCDataSource
# for JNDI datasource.bean=JNDIDataSource
datasource.bean=JDBCDataSource

jpa.database.type=HSQL

jdbc.connection.driver_class=org.hsqldb.jdbcDriver
jdbc.connection.url=jdbc:hsqldb:file:lectureDB
jdbc.connection.username=sa
jdbc.connection.password=

jndi.datasource=jdbc/lectureDB

##### smtp #####
# --> SMTP server
#The host name or IP number of the server.
smtp.host.host=localhost
#The port number the SMTP server is running on .
smtp.port=25
#The SMTP user (leave empty for an anonymous connection).
smtp.user=
#The SMTP password (ignored for an anonymous connection).
smtp.password=
# --> fromAddress is the 'from' address to use when sending emails.
#Email adresse for fromAddress
smtp.fromEmail=my.name@domain.edu
#Display name for adresse for fromAddress
smtp.fromName=My Name
# --> interceptAddress is the address to which _all_ the emails should be sent. 
# This property is particularly useful when setting up the application to prevent from spam effects. 
# When smtp.interceptAll=false then all the emails are normally sent to their recipients.
# When smtp.interceptAll=true then all the emails are sent to interceptAddress.
smtp.interceptAll=true
#Email adresse for interceptAddress
smtp.interceptEmail=my.name@domain.edu
#Display name for adresse for interceptAddress
smtp.interceptName=My Name

##### exceptionHandling #####
#The email address the exception reports will be sent to. This property is
# optional; if the tag is ommited or empty, then no mail is sent.
exceptionHandling.email=my.name@domain.edu

##### casService #####
# the server name of the server this application is hosted on. 
# Service URL will be dynamically constructed using this, i.e. https://localhost:8443 
# (you must include the protocol, but port is optional if it's a standard port).
serverName=http://localhost:8080
# sso CAS prefix URL
casServerUrlPrefix=https://sso-cas.univ-rennes1.fr
# The service that retrieves PTs from the CAS server (used by uPortal in portlet mode)
casService.service=http://uportal.univ.fr/lecture-portlet
# The callback URL used by the CAS server to pass the PGT to
# the application (servlet and portlet mode)
casService.proxyCallbackUrl=https://uportal.univ.fr/esup-lecture/proxy/receptor

