.esup-lecture .lecture-readArticle,.esup-lecture .lecture-unreadArticle {
	margin: 1em 1em 0em 40px;
	-webkit-box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	background-color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.esup-lecture .lecture-toggleButton {
	margin: 1em 0em 0em 0.5em;
	padding: 4px 4px 4px 4px;
	background-color: white;
	border: thin;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.esup-lecture .lecture-readArticle {
	opacity: 0.5;
}