html > body {
    font-family: 'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.menu-group {
    display: inline-block;
}

.menu-collapse {
    position: absolute;
    display: inline-block;
    max-width: 300px;
    right: 0;
    top: 40px;
    width: 100%;
    z-index: 2000;
}


.esup-lecture .lec-list-style-none {
    list-style: none;
    margin: 0 !important;
}

.esup-lecture .margin-left-zero {
    margin-top: 15px;
    margin-left: 0px;
}

.esup-lecture a.lec-btn-link {
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
    padding: 5px;
}

.esup-lecture a.lec-btn-link:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.esup-lecture .menuTitle {
    float: left;
    padding-left: 10px;
}

.esup-lecture .source-title {
    height: 22px;
    color: black;
    text-align: left;
    letter-spacing: 1px;
    text-align: left;
    text-indent: 5px;
    font-weight: lighter;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    background-color: #ddd;
}

div.toggleButton {
    display: inline;
    float: left;
    margin: 2px 0px 18px 5px;
    padding: 0px 10px 10px 10px;
    width: 16px;
    height: 16px;
}

.esup-lecture div.unreadArticle {
    margin: 2px 0px 0px 35px;
    padding: 2px;
    background-color: transparent;
    line-height: 17px;
    margin-bottom: 10px;
    border-bottom: dotted thin;
    font-size: 95%;
    padding-bottom: 15px;
    letter-spacing: 0.4px;
}

.esup-lecture div.readArticle {
    min-height : 1px; /*for IE 7 and opacity ! IE 6 don't work !*/
    margin: 2px 0px 0px 35px;
    padding: 2px;
    opacity: 0.30;
    opacity: 0.30;
    margin-bottom: 15px;
    border-bottom: dotted thin;
    font-size: 70%;
    padding-bottom: 15px;
}

.esup-lecture h1,h2,h3 {
    margin: 10px;
}

.esup-lecture .menuButton {
    margin-top: 5px;
}

.esup-lecture a.link {
    cursor: pointer;
    text-decoration: none!important;
}

.nav-pills > li > span,
.nav-pills > li.disabled > span,
.nav-pills > li.disabled > span {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.nav-pills > li > span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills [class^="icon-"],
.nav-pills [class*=" icon-"],
.nav-pills .icon-large[class^="icon-"],
.nav-pills .icon-large[class*=" icon-"] {
    line-height: inherit !important;
}

.cat-panel {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.portlet-container .btn.forced,
.portlet-container .link.forced {
    cursor: not-allowed!important;
}

.portlet-container .hidden-xs,
.portlet-container .hidden-sm {
    display: inline-block !important;
}

.portlet-container.sm .visible-xs.visible-sm,
.portlet-container.xs .visible-sm.visible-xs{
    display: inline-block !important;
}

@media (max-width: 767px) {
    .menu-btn .hidden-xs {
        display: none!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-btn.hidden-xs,
    .menu-btn.hidden-sm {
        display: none !important;
    }
}

/* ////// Multilevel dropdown */
.esup-lecture .dropdown-submenu {
    position:relative;
}

.esup-lecture .dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px  6px 6px 6px;
    border-radius:6px  6px 6px 6px;
}

.esup-lecture .dropdown-submenu:hover > .dropdown-menu {
    display:block;
}

.esup-lecture .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.portlet-container.esup-lecture .panel > .list-group .list-group-item {
    border-width: 0 0 1px 0;
}