<div class="col-xs-12">
    <div class="row">
        <h1 class="visible-md visible-lg">{{contextName}}</h1>
    </div>
    <div class="row">
        <div class="panel panel-default" role="region" ng-repeat="cat in cats">
            <div class="panel-heading" data-toggle="collapse">
                <div class="h4">
                    <div class="pull-right" style="margin-top: -2px;">
                        <a class="btn btn-link" role="button" title="{{ msgs['unsubscribeCategory'] }}" ng-click="toogleCategorySubcribtion(cat)" ng-show="cat.subscribed && !cat.obliged"><i class="fa fa-lg fa-check-square text-muted"></i></a>
                        <a class="btn btn-link" role="button" title="{{ msgs['unsubscribeCategory'] }}" ng-click="toogleCategorySubcribtion(cat)" ng-show="!cat.subscribed && !cat.obliged"><i class="fa fa-lg fa-square text-muted"></i></a>
                        <span class="btn btn-link btn-forced" title="{{ msgs['forcedSource'] }}" ng-show="cat.obliged"><i class="fa fa-lg fa-lock text-muted"></i></span>
                    </div>{{cat.name}}
                </div>
            </div>
            <div class="panel-body" ng-show="cat.subscribed || cat.obliged">
                <ul ng-repeat="src in cat.sources" class="margin-left-zero">
                    <li class="lec-list-style-none">
                        <div class="form-control-static center-block">
                            <div class="pull-right" style="margin-right: 2px;">
                                <a class="btn btn-link" role="button" title="{{ msgs['subscribeSource'] }}" ng-click="toogleSourceSubcribtion(cat, src)" ng-show="!src.subscribed && !src.obliged">
                                    <i class="fa fa-square text-muted"></i>
                                </a>
                                <a class="btn btn-link" role="button" title="{{ msgs['unsubscribeSource'] }}" ng-click="toogleSourceSubcribtion(cat, src)" ng-show="src.subscribed && !src.obliged">
                                    <i class="fa fa-check-square text-muted"></i>
                                </a>
                                <span class="btn  btn-link btn-forced" title="{{ msgs['forcedSource'] }}" ng-show="src.obliged"><i class="fa fa-lock text-muted"></i></span>
                            </div>
                            {{src.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>