<div class="span4" ng-show="treeDisplayed()">
    {{contextName}}
    <ul ng-repeat="cat in cats" class="margin-left-zero">
        <li class="lec-list-style-none">
            <a class="btn-link" ng-click="toggle(cat.id)" role="button" title="{{ msgs['colapseCategory'] }}" ng-show="!cat.folded"><i class="icon-minus-sign"></i></a>
            <a class="btn-link" ng-click="toggle(cat.id)" role="button" title="{{ msgs['expandCategory'] }}" ng-show="cat.folded"><i class="icon-plus-sign"></i></a>
            <a ng-click="select(cat.id)" class="lec-btn-link">{{cat.name}}</a>
            <ul ng-repeat="src in cat.sources" class="lec-list-style-none" ng-hide="cat.folded">
                <li class="lec-list-style-none">
                    <a class="lec-btn-link" ng-click="select(cat.id, src.id)"><i class="icon-play"></i> {{src.name}}</a>
                    <span class="badge" ng-show="src.unreadItemsNumber > 0">{{ src.unreadItemsNumber }}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="span8">
    <div ng-repeat="cat in selectedCats">
        <div class="portlet-section-header cat-title">{{ cat.name }}</div>
        <div class="btn-group">
            <button type="button" class="btn" role="button" title="{{ msgs['markAllAsRead'] }}" ng-click="markAllItemsAsRead(true)"><i class="icon-remove"></i></button>
            <button type="button" class="btn" role="button" title="{{ msgs['markAllAsNotRead'] }}" ng-click="markAllItemsAsRead(false)"><i class="icon-check"></i></button>
            <button type="button" class="btn" role="button" title="{{ msgs['hideTree'] }}" ng-show="hideTreeDisplayed()" ng-click="hideTree()"><i class="icon-fullscreen"></i></button>
            <button type="button" class="btn" role="button" title="{{ msgs['showTree'] }}" ng-show="showTreeDisplayed()" ng-click="showTree()"><i class="icon-indent-left"></i></button>
        </div>
        <div ng-repeat="source in cat.selectedSrcs">
            <div class="portlet-section-subheader source-title">{{ source.name }}</div>
            <div ng-repeat="item in source.items">
                <div class="article" ng-show="!item.read">
                    <div class="toggleButton">
                        <a class="lec-btn-link" ng-click="toggleItemReadState(cat, source, item)" role="button" title="{{ msgs['markAsRead'] }}" ><i class="icon-remove"></i></a>
                    </div>
                    <div class="unreadArticle" ng-bind-html-unsafe="item.htmlContent">
                    </div>
                </div>
                <div class="article" ng-show="item.read">
                    <div class="toggleButton">
                        <a class="lec-btn-link" ng-click="toggleItemReadState(cat, source, item)" role="button" title="{{ msgs['markAsUnread'] }}" ng-show="item.read"><i class="icon-check"></i></a>
                    </div>
                    <div class="readArticle" ng-bind-html-unsafe="item.htmlContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
