<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- Default View Resolver -->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
  </bean>
  <!-- <import resource="config-canal-lecture.xml"/>-->
  <bean id="channel" class="org.esupportail.lecture.domain.model.Channel">
  </bean>	
  
  <!--  import other spring configuration files -->
  <import resource="portlet-spring-domain.xml"/>


</beans>