@CHARSET "ISO-8859-1";

/* main divs style */
.esup-lecture #left {
	padding: 0px 10px;
	overflow: auto;
}

.esup-lecture #right {
	padding: 0px;
	margin: 0px;
	clear: both;
}

.esup-lecture #menuRight {
	margin: 0px;
}

/* menu style */
.esup-lecture .menuTitle {
	float: left;
/*	margin-left: 5px; */
/*	vertical-align: middle; */
}
.esup-lecture .menuButton{
	text-align: right;
	padding-right: 5px;
	vertical-align: bottom;
}
.esup-lecture .menuButton ul {
     list-style-type:none;
    display:block;
	text-align: right;
} 
.esup-lecture .menuButton li {
	display:inline;
	margin: 0 0 0 3px;
	padding:0%;
}

/* Tree Style */
.esup-lecture li.collapsed {
list-style: none;
margin-left: -30px;
}

.esup-lecture li.expanded {
list-style: none;
margin-left: -30px;
}

.esup-lecture li.edit {
list-style: none;
margin-left: -30px;
}

.esup-lecture li ul li {
list-style: none;	
margin-left: -30px;
}

.esup-lecture .elementButton {
	background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

/* Articles Style */
.esup-lecture div.toggleButton {
	float: left;
	margin: 0px 0px 10px 5px; 
	padding: 5px;
}

.esup-lecture div.unreadArticle {
	margin: 2px 0px 0px 5px; 
	padding: 5px;
	background-color: Khaki;
    -moz-border-radius:15px;
	border-style: inset;
	border-width: 1px;
	border-color: #660033;
}

.esup-lecture div.readArticle {
    margin: 2px 0px 0px 5px; 
    padding: 5px;
    background-color: #CACACA;
    -moz-border-radius:15px;
    border-style: inset;
    border-width: 1px;
    border-color: #660033;
}

.esup-lecture .source-title {
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

/* other */
.esup-lecture #TDLeft {
	vertical-align: top;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
}

.esup-lecture #TDRight {
	vertical-align: top;
}

.esup-lecture a img { 
	border: none; 
}

.esup-lecture img {
	border: none;
	float:none;
    margin:0 0.5em 0 0;
    padding:0;
}

.esup-lecture .valign {
	vertical-align: middle;
}

.esup-lecture p {
    margin: 0;
}

.esup-lecture p + br {
    display: none;
}

.esup-lecture h1 + br {
    display: none;
}

