<?xml version="1.0"?>

<!-- 
	/webapp/WEB-INF/web-portlet-example.xml
	The main configuration file of the application for portlet installations.
	Copy this file to /webapp/WEB-INF/web.xml and edit if needed (the default
	configuration provided should fit to almost everybody).
-->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>esup-lecture</display-name>

<!-- 
	<context-param>
		<description>
			The location of log4j config file. 
		</description>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:/properties/logging/log4j.properties</param-value>
	</context-param>
 -->

	<context-param>
		<description>
			The location of the main configuration file of the Spring framework. 
		</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/properties/applicationContext.xml</param-value>
	</context-param>

	<context-param>
		<description>
			The location of the main configuration file of the JSF framework.
		</description>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/classes/properties/jsf/commons-render-kit.xml,/WEB-INF/classes/properties/jsf/managed-beans.xml,/WEB-INF/classes/properties/jsf/navigation-rules.xml,/WEB-INF/classes/properties/jsf/application.xml
		</param-value>
	</context-param>

<!-- 
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
 -->

	<listener>
		<description>
			This listener makes the current HTTP request available to the Spring framework.
		</description>
		<display-name>RequestContextListener</display-name>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

<!-- 
	<filter>
		<description>
			This filter is in charge of managing the Hibernate sessions.
		</description>
		<display-name>OpenSessionInViewFilter</display-name>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>		
	</filter-mapping>
 -->

<!-- 
	<filter>
		<description>
			This filter is needed to use some Tomahawk extentions.
		</description>
		<display-name>MyFacesExtensionsFilter</display-name>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
		<init-param>
			<description>
				The maximum size of uploaded files.
			</description>
			<param-name>maxFileSize</param-name>
			<param-value>20m</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>
 -->

	<servlet>
		<description>
			The main servlet of the application. This class inherits from 
			the MyFaces implementation and handles exceptions thrown for
			specific exception handling.
		</description>
		<display-name>Faces Servlet</display-name>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.FacesServlet
		</servlet-class>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>The esup-lecture portlet servlet</description>
		<display-name>esup-lecture</display-name>
		<servlet-name>esup-lecture</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.portlet.PortletServlet
		</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>
				org.esupportail.commons.web.portlet.FacesPortlet
			</param-value>
		</init-param>
		<init-param>
			<param-name>portlet-guid</param-name>
			<param-value>LecturePortlet.esup-lecture</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>esup-lecture</servlet-name>
		<url-pattern>/foo/*</url-pattern>
	</servlet-mapping>

<!-- 
	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.DownloadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
 -->

	<security-constraint>
		<display-name>Protection of the raw JSP pages</display-name>
		<web-resource-collection>
			<web-resource-name>Raw JSF JSP Pages</web-resource-name>
			<description>
				All the JSP pages of the application.
			</description>
			<url-pattern>/stylesheets/about.jsp</url-pattern>
			<url-pattern>/stylesheets/administrators.jsp</url-pattern>
			<url-pattern>/stylesheets/administratorAdd.jsp</url-pattern>
			<url-pattern>/stylesheets/administratorDelete.jsp</url-pattern>
			<url-pattern>/stylesheets/departments.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentAdd.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentDelete.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentEdit.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentView.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentManagerAdd.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentManagerDelete.jsp</url-pattern>
			<url-pattern>/stylesheets/departmentManagerEdit.jsp</url-pattern>
			<url-pattern>/stylesheets/login.jsp</url-pattern>
			<url-pattern>/stylesheets/logout.jsp</url-pattern>
			<url-pattern>/stylesheets/preferences.jsp</url-pattern>
			<url-pattern>/stylesheets/things.jsp</url-pattern>
			<url-pattern>/stylesheets/thingDelete.jsp</url-pattern>
			<url-pattern>/stylesheets/thingEdit.jsp</url-pattern>
			<url-pattern>/stylesheets/welcome.jsp</url-pattern>
			<url-pattern>/stylesheets/_*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>
				No roles, so no direct access
			</description>
		</auth-constraint>
	</security-constraint>
	
</web-app>
